.img_home {
    text-align: center;
    background: url("../../assets/img/img_home_bg.png") center / contain no-repeat;
    height: 500px;
}

body {
    width: 100%;
    height: 100%;
}

.banner_bg {
    text-align: center;
    padding: 30px;
}

.footer-box {
    position: fixed;
    top: 92%;
    width: 100%;
    background-color: #F6F9FF;
    height: 100%;
}

.home_box {
    width: 100%;
    padding: 40px;
    /*background-color: var(--bs-indigo);*/
    height: 100%;
}

.button-box {
    text-align: center;
    margin-bottom: 20px;
}

.btn-box {
    width: 100%;
    height: 60px;
    border-radius: 60px;
    font-size: 26px;
}

.btn-register {
    background-color: #D8E4FA;
    color: #0186FD;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-register:hover {
    background-color: #bdc8dc;
    color: #0186fd;
}

.btn-login {
    background: linear-gradient(-150deg, #005ffd, #01c0ff);
    color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-login:hover {
    background: linear-gradient(-150deg, #005ffd, #01c0ff);
    color: #fff;
}

.client-box {
    padding: 20px;
    width: 100%;
}

.img_home_client {
    width: 100%;
    height: 100%;
}

.login_box {
    position: absolute;
    top: 10%;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    /*height: 90%;*/
    background-color: #fff;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.login_box::-webkit-scrollbar {
    -webkit-appearance: none;
}

.login_box::-webkit-scrollbar:vertical {
    width: 8px;
}

.login_box::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

.get_btn {
    background: #ffffff;
    border-radius: 50%;
    border: 0;
    position: absolute;
    top: 3%;
    left: 62%;
    width: 38px;
    height: 38px;
}

.logo-box {
    color: #fff;
    padding: 30px;
    height: 100px;
    width: 100%;
}

.text-input {
    /*background-color: #eee;*/
    width: 100%;
    border-radius: 60px;
    height: 60px;
    border: 3px solid #E6EDFC;
    padding: 10px;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.input-box {
    padding: 20px 30px 0 30px;
}

.input-mini {
    width: 70%;
    padding-left: 10px;
    border: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.bs-icon {
    --bs-icon-size: .75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary);
}

.bs-icon-xs {
    --bs-icon-size: 1rem;
    width: calc(var(--bs-icon-size) * 1.5);
    height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
    --bs-icon-size: 1rem;
}

.bs-icon-md {
    --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
    --bs-icon-size: 2rem;
}

.bs-icon-xl {
    --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
    color: var(--bs-white);
    background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
    color: var(--bs-primary);
    background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
    border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
    border-radius: 50%;
}

.dropdown-box {
    width: 100%;
    border-left-width: 1px;
    border-left-color: #999;
    border-radius: initial;
}

.btn-yan {
    color: #0186FD;
    border: 2px solid #0186FD;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-yan2 {
    color: #FE5353;
    border: none;
    background: #E6EDFC;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.head-box {
    width: 40px;
}

.btn-box.btn-yan2.jie {
    color: #4e5e6d;
    font-size: 15px;
    margin-bottom: 20px;
}

.input-box.line-box {
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.shop-box {
    background-color: #DFE9F6;
    height: 200px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

.shop-box.shop-on {
    background-color: #5191FF;
    color: #fff;
}

.airpay {
    height: 60px;
    width: 100%;
    background: url("../../assets/img/iconx23.png") no-repeat;
    background-size: contain;
}

.airpay:hover {
    background: url("../../assets/img/iconx20.png") no-repeat;
    background-size: contain;
}

.airpay:active {
    background: url("../../assets/img/iconx20.png") no-repeat;
    background-size: contain;
}

.usdt {
    height: 60px;
    width: 100%;
    background: url("../../assets/img/iconx21.png") no-repeat;
    background-size: contain;
}

.usdt:active {
    background: url("../../assets/img/iconx22.png") no-repeat;
    background-size: contain;
}

.usdt:hover {
    background: url("../../assets/img/iconx22.png") no-repeat;
    background-size: contain;
}

