/* styles.css */

.header-close {
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 8px;
    top: 8px;
}

.header-icon:hover {
    color: #999;
}

.header-close.close-black {
    color: #999;
}


.mint::-webkit-input-placeholder{
    color:red;
}


/* Add styles here to customize the appearance of your app */

